html, body {
  height: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
}

/* Universe Container */
.universe {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -10000;
}

/* Custom Radial Gradient */
.universe-container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

/* Content Styles */
#universe {
  width: 100%;
  height: 100%;
}

/* Optional content styling */
.main-page-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-page-content h1 {
  font-family: 'Bungee Hairline', sans-serif;
  font-size: 60px;
}

.main-page-content h2 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
}