@import '@/styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container {
  max-height: 50px !important;
  
  width: 280px !important; 
}

.Toastify__toast {
  max-height: 50px !important; 
  min-height: 10px !important; 
  font-size: 14px !important; 
}


html {
  scroll-behavior: smooth;
}

@keyframes moveBg {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.animated-text {
  animation: moveBg 10s ease-in-out infinite;
}





